#var {
    width: 85%;
    position: relative;
    margin:0 auto;
    /*---由于内嵌页面初始化的bottom在手机实测中无效,所以直接把距离增加到这里---*/
    padding-bottom: 60px;
}
.var_bar_src{
	float: left;
    width: 33%;
    position: relative;
    margin-top: 8%;
}
.var_img{
    width: 69%;
    border-radius: 50%;
    margin: 0 auto;
}
.var_img img{
    width: 100%;
}
.var_bar_src p{
    margin-top: 9%;
    text-align: center;
    font-size: 21px;
}