#wrap{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background:url("../image/user_bg1.jpeg") 0 0 no-repeat;
	background-size: 100% 100%;
	position: relative;
}
#enter_top{
    width: 100%;
    height: 4%;
    position: absolute;
    top: 4%;
    left: 0%;
    text-align: center;
}
#enter_top a{
 	font-size: 18px;
    color: #F1EBEB;

}
.enter_delete {
    width: 10%;
    height: 100%;
    background: url("x.svg") 0% 0% no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: text-bottom;
}
.enter_in{
    margin-left: 33%;
    margin-right: 24%;
}
#enter_conten{
    width: 80%;
    height: 60%;
    margin: 25% auto;
    position: relative;
}
#enter_conten form{
	height: 100%;
}
#enter_conten form div{
    width: 100%;
	height: 10%;
	margin-top: 11%;
    position: relative;

}
/*图标*/
/*#enter_conten form div .name_img{
    width: 9%;
    height: 100%;
    position: absolute;
    top: 12%;
    left: 0;
    background: url("用户.svg") 0% 0% no-repeat;
    background-size: 100%;
    margin-top: 0;
}*/

#enter_conten embed{
    width: 9%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    /*background: url("用户.svg") 0% 0% no-repeat;*/
    /*background-size: 100%;*/
    /*margin-top: 0;*/
}

#enter_conten input{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 3%/20%;
    font-size: 18px;
    padding-left: 12%;
    box-sizing: border-box;

}
#enter_conten .btn{
    /*margin-top: 18%;*/
    padding-left: 0;
    color: white;
    background-color: #E3DDDD;
}








